@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Sanchez", serif;
}

body{
    background-color: #65978D;
    width: 100%;
    height: 100vh;
}

header{
    background-color: #9AC9C0;
    width: 100%;
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
}

.header-right, .left, .right, .cash{
    display: flex;
    align-items: center;
}

.header-left{
    margin-left: 30px;
}
.header-right{
    margin-right: 30px;
}

.right{
    gap: 50px;
    margin-left: 100px;
}

.left{
    gap: 25px;
}

.right a{
    color: black;
    font-weight: bold;
}

.cash{
    gap: 5px;
}

.card{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    width: 400px;
    height: 250px;
    border-bottom: solid 1px black;
    box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 25);
}

.top img{
    margin-left: 75px; /*calc((400px - 250px)/2);*/
    width: 250px;
    height: 250px;
}

.center{
    width: 400px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bottom{
    width: 400px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom button{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    background-color: #188194;
    color: white;
}

main{
    width: calc(100% - 70px);
    padding: 30px 35px;
    gap: calc((100% - 400px * 3)/2);
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-top: 30px;
}