@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Sanchez", serif;
}

body{
    background-color: #65978D;
    width: 100%;
    height: 100vh;
}

header{
    background-color: #9AC9C0;
    width: 100%;
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
}

.header-right, .left, .right, .cash{
    display: flex;
    align-items: center;
}

.header-left{
    margin-left: 30px;
}
.header-right{
    margin-right: 30px;
}

.right{
    gap: 50px;
    margin-left: 100px;
}

.left{
    gap: 25px;
}

.right a{
    color: black;
    font-weight: bold;
}

.cash{
    gap: 5px;
}

.card{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
}